.checkandmove{
    display: flex;
    
}
.checkandmove-list{
    list-style: none;
    width: 100px;
}
.checkandmove--box1{
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
    justify-content: center;
}
.checkandmove--box2{
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
}
.checkandmove--box3{
    border: 2px solid black;
    padding: 2%;
    margin: 2%;
}
